<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>svUser</servlet-name>
        <servlet-class>servlet.svUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>svCliente</servlet-name>
        <servlet-class>servlet.svCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>svEmpleado</servlet-name>
        <servlet-class>servlet.svEmpleado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>svVenta</servlet-name>
        <servlet-class>servlet.svVenta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>svService</servlet-name>
        <servlet-class>servlet.svService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>svPackage</servlet-name>
        <servlet-class>servlet.svPackage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>svSell</servlet-name>
        <servlet-class>servlet.svSell</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>svUser</servlet-name>
        <url-pattern>/svUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>svCliente</servlet-name>
        <url-pattern>/svCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>svEmpleado</servlet-name>
        <url-pattern>/svEmpleado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>svVenta</servlet-name>
        <url-pattern>/svVenta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>svService</servlet-name>
        <url-pattern>/svService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>svPackage</servlet-name>
        <url-pattern>/svPackage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>svSell</servlet-name>
        <url-pattern>/svSell</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
